/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/roboto-regular-webfont.woff2);
}

body,
html {
    height: 100%;
    overflow: hidden;

    font-family: Roboto;
    font-size: 10px;
}

a {
    appearance: none;
    text-decoration: none;
    color: white;
}

.projects,
.announcements,
.trending {
    border: 1px solid green;
}

.card {
    border: 1px solid orange;
}

/* Main Grid */

.container {
    display: grid;
    grid-template: 1fr 4.5fr / 1fr 10fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    height: 100%;
}

header {
    grid-area: header;

    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-template-areas: 
    "search profile"
    "welcomeUser headerButtons";
}

.search {
    grid-area: search;

    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.profile {
    grid-area: profile;

    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;
}

.welcomeUser {
    grid-area: welcomeUser;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.headerButtons {
    grid-area: headerButtons;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.sidebar {
    grid-area: sidebar;

    display: grid;
    grid-template-rows: repeat(12, 1fr) 20fr;
    gap: 1.8rem;

    background-color: #12181a;
    color: white;
    padding: 4rem;
}

.main {
    grid-area: main;

    display: grid;
    grid-template: 1fr 1fr/ 3fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
}

.projects {
    grid-area: projects;

    display: grid;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

/* Sidebar CSS */
.sidebar > h1 {
    font-size: 2.6rem;
    opacity: 0.85;
}


.sidebar > a > p {
    font-size: 1.6rem;
    opacity: 0.7;
}

.sidebar .break{
    background-color: white;
    opacity: 0.3;
    width: 17rem;
    height: 1px;
    margin-top: 0.9rem;
}

.sidebar > p,
.sidebar > h1 {
    margin-left: 4rem;
}

.dashOption {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.dashOption > svg {
    height: 2rem;
    color: white;
    opacity: 0.7;
}

.dashOption:has(h1) > img {
    height: 5rem;
}

.sidebar > a:hover > p,
.sidebar > a:hover > svg {
    color: #6999d1;
    opacity: 1;
}

.sidebar > a:active > p,
.sidebar > a:active > svg {
    opacity: 0.5;
}

/* Header CSS */

header {
    background-color: white;
}

header svg {
    height: 3rem;
    margin-top: 0.5rem;
}

header input {
    appearance: none;
    width: 70%;
    height: 3rem;
    border-radius: 15px;
    background-color: #d9dbda;
    border: none;
}

.search {
    padding-left: 5rem;
}

.profile > img {
    width: 5rem;
    height: 5rem;
    border-radius: 6rem;
}

.profile > p {
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.05rem;
}

.profile > svg {
    width: 2.6rem;
}

.welcomeUser {
    padding-left: 5rem;
    padding-bottom: 2.5rem;
}

.welcomeUser > img {
    width: 7rem;
    height: 7rem;
    border-radius: 6rem;
}

.welcomeUser p {
    font-weight: bold;
    letter-spacing: 0.03rem;
}

.greeting > p {
    font-size: 1.4rem;
}

.greeting > p + p {
    font-size: 2rem;
}

.headerButtons {
    padding-bottom: 2.5rem;
}

.headerButtons button {
    appearance: none;
    width: 9rem;
    height: 3rem;
    background-color: #14252b;
    color: white;
    border: none;
    border-radius: 5000px;
    font-weight: bold;
}

.headerButtons button:hover {
    background-color: #264d59;
}

.headerButtons button:active {
    background-color: #1b2d33;   
}